{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:prettier/recommended"],
  "rules": {
    "no-else-return": "warn",
    "default-case": "error",
    "array-callback-return": "warn",
    "prefer-const": "error"
  }
}
