{
  "printWidth": 110,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "insertPragma": false,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "trailingComma": "none"
}
